In [2]:
import pandas as pd
import numpy as np


# Create the DataFrame
data = {
    'Name': ['Jose', 'Maria', 'David', 'Sonia', 'Samuel', 'Eva', 'Carlos', 'Pedro', 'Ana'],
    'Department': ['IT', 'IT', 'HR', 'HR', 'Sales', 'Sales', 'IT', 'IT', 'HR'],
    'Education': ['Bachelor', 'Master', 'Master', 'Bachelor', 'Master', 'Bachelor', 'Master', 'Phd', 'Master'],
    'Gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F'],
    'Title': ['analyst', 'analyst', 'analyst', 'analyst', 'associate', 'associate', 'VP', 'associate', 'VP'],
    'Years': [1, 2, 2, 4, 3, 2, 8, 7, 8],
    'Salary': [35, 30, 30, 35, 55, 55, 70, 60, 70]
}

df = pd.DataFrame(data)

# Find the maximum salary for each department
max_salaries = df.groupby('Department')['Salary'].transform('max')

# Drop rows with maximum salary for each department
df_filtered = df[df['Salary'] < max_salaries]

# Create a pivot table to compute the mean salary for each department
pivot_table = df_filtered.pivot_table(values='Salary', index='Department', aggfunc='mean')

print("Original DataFrame:")
print(df)
print("\nDataFrame after dropping rows with maximum salary for each department:")
print(df_filtered)
print("\nPivot table for mean salary per department:")
print(pivot_table)

Original DataFrame:
     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
6  Carlos         IT    Master      M         VP      8      70
7   Pedro         IT       Phd      M  associate      7      60
8     Ana         HR    Master      F         VP      8      70

DataFrame after dropping rows with maximum salary for each department:
    Name Department Education Gender      Title  Years  Salary
0   Jose         IT  Bachelor      M    analyst      1      35
1  Maria         IT    Master      F    analyst      2      30
2  David         HR    Master      M    analyst      2      30
3  Sonia         HR  Bachelor      F    analyst      4      35
7  Pedro         IT       Phd      M  associate      7      60

Pivot table for mean salary per department:
               Salary
Department
HR          32.500000
IT          41.666667

In [3]:
max_salaries

0    70
1    70
2    70
3    70
4    55
5    55
6    70
7    70
8    70
Name: Salary, dtype: int64